:root { 
    --main-or: #FF3801;

}

@media screen and (min-width: 1700px) {
    .question__text { 
        width: 50%;
        gap: 40px;
    }

    .question__title { 
        flex-direction: column;
    }

    .question__block__link { 
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .question__block__link__mod { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: max-content;
        gap: 0px 50px;
        
    }

    .question__block__link::after { 
        display: none;
    }

    .question__vid { 
        width: 66%;
    }

    .question__block__link::after { 
        background-color: #fff;
    }

    .question__block__link__item { 
        background: var(--main-or);
        border-radius: 10px;
        padding: 10px;
        width: auto;
        justify-content: space-between;
        
    }

    .question__block__link__item__mod { 
        background: transparent;
        color: black;
    }

    
    .question__block__link__item p {
        color: #fff;
        font-weight:500;
    }

    .question__block__link__item__mod p { 
        color: black;
    }

    .question__block__link__item img { 
        width: 29px;
    }

}

@media screen and (max-width: 1699px) and (min-width: 1200px) {
    .question__text h2 { 
        font-size: 32px;
    }
    
    .question__text { 
        width: 50%;
        gap: 20px;
    }

    .question__title { 
        flex-direction: column;
    }

    .question__block__link { 
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .question__block__link__mod { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: max-content;
        gap: 0px 5px;
        
    }

    .question__block__link::after { 
        display: none;
    }

    .question__vid { 
        width: 66%;
    }

    .question__block__link::after { 
        background-color: #fff;
    }

    .question__block__link__item { 
        background: var(--main-or);
        border-radius: 10px;
        padding: 10px;
        width: auto;
        gap: 10px;
        justify-content: space-between;
        
    }

    .question__block__link__item__mod { 
        background: transparent;
        color: black;
    }

    
    .question__block__link__item p {
        color: #fff;
        font-weight:500;
        font-size: 16px;
    }

    .question__block__link__item__mod p { 
        color: black;
    }

    .question__block__link__item img { 
        width: 29px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 760px) {
    .question__block__link { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 17px;
    }

    .question__title { 
        flex-direction: column;
    }

    .question__block__link::after { 
        background-color: #fff;
    }

    .question__block__link__item { 
        background: var(--main-or);
        border-radius: 10px;
        padding: 10px 15px;
        justify-content: space-between;
        
    }

    .question__block__link__item p {
        color: #fff;
        font-weight:700;
    }

    .question__block__link__item__mod { 
        background: transparent;
        color: black;
    }

    .question__block__link__item__mod p { 
        color: black;
    }

    .question__vid { 
        height: calc(100vw / 16 * 9);
    }
}

@media screen and (max-width: 759px) and (min-width: 300px) {
    .question__block__link { 
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-items: start;
        align-items: center;
    }

    .question__title { 
        flex-direction: column;
    }

    .question__block__link::after { 
        background-color: #fff;
    }

    .question__block__link__item { 
        background: var(--main-or);
        border-radius: 10px;
        padding: 10px 15px;
        width: 100%;
        justify-content: space-between;
        
    }

    .question__block__link__item p {
        color: #fff;
        font-weight:700;
    }

    .question__block__link__item__mod { 
        background: transparent;
        color: black;
    }

    .question__block__link__item__mod p { 
        color: black;
    }

    .question__vid { 
       
        height: calc(100% / 16 * 9);
    }
}

@media screen and (min-width: 1700px) {
    .hook { 
        height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .hook__content { 
        display: flex;
        gap: 360px;
    }

    .hook__text { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hook__content h2 { 
        font-size: 40px;
        font-weight: 700;

    }

    .hook__text p { 
        font-size: 28px;
        font-weight: 600;
        color: #6C6C6C;
    }

    .hook__text__wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .hook__text span { 
        color: var(--main-or);
        font-weight: 700;
    }

    .hook__form__wrapper { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        position: relative;
    }

    .hook__form__wrapper::after { 
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0px;
        left: calc(0px - 180px);
        background: #EBEBEB;
    }

    .hook__form__item { 
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    .hook__form { 
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    .hook__form__title { 
        display: flex;
        gap: 8px;

    }

    .hook__form__title p { 
        font-weight: 700;
    }

    .hook__form__item input { 
        height: 70px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }   

    .hook__form__item textarea { 
        height: 140px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }

    .hook__form__item textarea:focus { 
        outline: none;
        border: none;
    }

    .hook__form__item__textarea { 
        height: 100%;
    }

    .hook__form__item__textarea textarea { 
        height: 100%;
    }
}

@media screen and (max-width: 1699px) and (min-width: 1200px) {
    .hook { 
        height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .hook__content { 
        display: flex;
        gap: 160px;
    }

    .hook__text { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hook__content h2 { 
        font-size: 35px;
        font-weight: 700;

    }

    .hook__text p { 
        font-size: 22px;
        font-weight: 600;
        color: #6C6C6C;
    }

    .hook__text span { 
        color: var(--main-or);
        font-weight: 700;
    }

    .hook__text__wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .hook__form__wrapper { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hook__form__item { 
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    .hook__form { 
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    .hook__form__title { 
        display: flex;
        gap: 8px;

    }

    .hook__form__title p { 
        font-weight: 700;
    }

    .hook__form__item input { 
        height: 70px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }   

    .hook__form__item textarea { 
        height: 140px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }

    .hook__form__item textarea:focus { 
        outline: none;
        border: none;
    }

    .hook__form__item__textarea { 
        height: 100%;
    }

    .hook__form__item__textarea textarea { 
        height: 100%;
        
        resize: none;
    }
}

@media screen and (max-width: 1199px) and (min-width: 760px) {
    .hook { 
        margin-top: 50px;
        display: flex;
        align-items: center;
    }
    
    .hook__content { 
        display: flex;
        gap: 50px;
    }

    .hook__text { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hook__content h2 { 
        font-size: 25px;
        font-weight: 700;

    }

    .hook__text p { 
        font-size: 19px;
        font-weight: 600;
        color: #6C6C6C;
    }

    .hook__text span { 
        color: var(--main-or);
        font-weight: 700;
    }

    .hook__form__wrapper { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hook__form__item { 
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    .hook__form { 
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    .hook__form__title { 
        display: flex;
        gap: 8px;

    }

    .hook__form__title p { 
        font-weight: 700;
    }

    .hook__form__item input { 
        height: 70px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }   

    .hook__form__item textarea { 
        height: 140px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }

    .hook__form__item textarea:focus { 
        outline: none;
        border: none;
    }

    .hook__form__item__textarea textarea { 
        
        
        resize: none;
    }
}

@media screen and (max-width: 759px) and (min-width: 300px) {
    .hook { 
        margin-top: 50px;
        display: flex;
        align-items: center;
    }
    
    .hook__content { 
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .hook__text { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hook__content h2 { 
        font-size: 25px;
        font-weight: 700;

    }

    .hook__text p { 
        font-size: 19px;
        font-weight: 600;
        color: #6C6C6C;
    }

    .hook__text span { 
        color: var(--main-or);
        font-weight: 700;
    }

    .hook__form__wrapper { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hook__form__item { 
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    .hook__form { 
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    .hook__form__title { 
        display: flex;
        gap: 8px;

    }

    .hook__form__title p { 
        font-weight: 700;
    }

    .hook__form__item input { 
        height: 70px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }   

    .hook__form__item textarea { 
        height: 140px;
        background: #EBEBEB;
        border-radius: 15px;
        padding: 10px 20px;
    }

    .hook__form__item textarea:focus { 
        outline: none;
        border: none;
    }

    .hook__form__item__textarea textarea { 
        
        
        resize: none;
    }
}